auto-search{
    position:relative;
}

.search{
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.class1{
    z-index: 1;
}

.class2{
    z-index: 2;
}

//the hover problem can be solve by the z index just create a class with a higher z index
// for example if you want to add a third auto search add a class named class3 with z index 3 
//good luck :) 